*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div, header, nav {
    box-sizing: border-box;
}

.contenedor-header {
    background-color: #27292E;
    
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}

.nav__item {
    list-style: none;
    padding: 0 38px;
    font-size: 18px;
}

.nav__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

img {
    width: 100px;
    height: 100px;
}

.nav__logo-container { 
    background-size: cover;
}

/* Sección INICIO */

.contenedor-inicio {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient(#000a, #000a), url(background-img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-bottom: 50px;
}

h1{
    margin: 0;
    font-size: 4.2rem;
    padding-bottom: 30px;
    text-wrap: nowrap;
    font-weight: bolder;
    font-family: 'Times New Roman';
}
.inicio__parrafo {
    font-family: 'Times New Roman';
    font-size: 1.75rem;
    font-weight: 100;
}


.seccion__inicio {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
    color: #d1d1d1;
}

.contenedor-inicio p {
    text-wrap: pretty;
    font-weight: bolder;
}

/* Seccion FOOTER */

.contenedor__pie {
    background-color: #27292E;
    color: #fff;
    box-sizing: border-box;
}

.contenedor__pie-inicio{
    text-align: start;
}
.contenedor__pie-derechos {
    text-align: center;
    padding: 10px;
}

.list__item {
    list-style: none;
    padding: 3px 6px;
    font-size: 18px;
}

.link__item {
    text-decoration: none;
    color: #fff;
}